body{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 150px;
}

#calcBody{
    background-color: #E1B80D;
    height: 450px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
}

#screen{
    background-color: #EAE2D6;
    height: 75px;
    width: 280px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

#solar{
    background-color: #35373b;
    height: 35px;
    align-self: center;
}

#ans{
    margin: 8px;
    margin-bottom: 4px;
    font-size: 40px;
}

#prevAns{
    
    margin: 10px;
    margin-top: 4px;
    margin-bottom: 0px;

}

#bottom{
    flex: 1;
    display: flex;
    width: 280px;
    justify-content:center;
}

#buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.row{
    flex: 1;
    display: flex;
    gap: 5px;
}

.button{
    flex: 1;
    font-size: 20px;
    border-radius: 10px;
    background-color: #D5C3AA;
}

#clear{
    flex: 0;
    min-width: 66.25px;
    max-width: 71.25px;
    height: 59px;
}
